<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/norm.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/new.css">
    <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="app/js/angular-material.min.css">
  <link rel="stylesheet" href="app/css/loader.css">
  <link rel="stylesheet" href="app/css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="app/css/font.css">

</head>
<body layout="column" ng-controller="MainController as main">

<div layout="row"  layout-fill flex>

    <md-sidenav layout="column" class="md-sidenav-left project-nav side-nav" md-disable-backdrop md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div class="user">
                    <div class="user-avatar-frame">
                        <div class="user-avatar">
                            <img ng-src="{{main.user['image_url']}}" alt="{{main.user.username}}">
                        </div>
                    </div>
                    <div class="user-name">
                        <div class="user-name-inner">
                            {{main.user.username}}
                        </div>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <md-subheader class="subheader">
            <span class="project-title">Projects</span>
            <span flex></span>
            <md-button class="md-icon-button add-button add-project" ng-click="main.toggleCreateProjectSidenav()" aria-label="add project">
                <md-icon class="icons8-plus"></md-icon>
                <md-tooltip md-direction="left">Add new project</md-tooltip>
            </md-button>
        </md-subheader>

        <div class="wrapper">
            <md-list class="project-list" >
                <md-list-item ng-class="(main.isActive(item.Project.id)) ? 'active' : ''"
                        class="md-1-line project-item" ng-repeat="item in main.projects">
                    <a href="#!/project/{{item.Project.id}}"></a>
                    <span>{{item.Project.title}}</span>
                    <span flex></span>
                    <span>
                        {{item.Project.task_count}}
                    </span>

                </md-list-item>
            </md-list>
        </div>

        <a href="#!/" class="logout">Log out</a>

    </md-sidenav>

    <create-project></create-project>  <!--sideNav for creating new project-->

    <div layout="column" class="relative content" layout-fill role="main">
        <md-toolbar class="header-toolbar">
            <div class="md-toolbar-tools">
                <md-button ng-click='main.toggleLeftMenu()' hide-gt-sm nornal-btn aria-label='Menu'>
                    <i class="icons8-todo-list"></i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon class="icons8-search"></md-icon>
                </md-button>
                <span flex=""></span>

                <md-menu>
                    <md-button class="md-icon-button" ng-click="main.openMenu($mdOpenMenu, $event)" aria-label="More">
                        <md-icon class="icons8-more"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="main.toggleEditProjectSidenav()">
                                <md-icon md-menu-origin class="icons8-edit icon" md-menu-align-target></md-icon>
                                Edit project
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>

                            <md-button ng-click="main.deleteProject()">
                                <md-icon md-menu-origin class="icons8-delete icon" md-menu-align-target></md-icon>
                                Delete project
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-divider></md-divider>
        </md-toolbar>

        <loader></loader>

        <ng-view class="view"></ng-view>

    </div>

</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">
          You are using an <strong>outdated</strong>
          browser. Please <a href="http://browsehappy.com/">
          upgrade your browser</a> to improve your experience.
      </p>
  <![endif]-->

  <!--<script src="bower_components/angular/angular.js"></script>-->
  <!--<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>-->
  <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

  <script src="app/controllers/MainCtrl.js"></script>
  <script src="app/controllers/taskListCtrl.js"></script>
  <script src="app/controllers/createTaskCtrl.js"></script>
  <script src="app/controllers/createProjectCtrl.js"></script>
  <script src="app/controllers/editTaskCtrl.js"></script>
  <script src="app/controllers/editProjectCtrl.js"></script>
  <script src="app/services/AccountService.js"></script>
  <script src="app/services/ToastService.js"></script>
  <script src="app/directives/loader.directive.js"></script>
  <script src="app/directives/createTask.directive.js"></script>
  <script src="app/directives/createProject.directive.js"></script>
  <script src="app/directives/editProject.directive.js"></script>
  <script src="app/directives/editTask.directive.js"></script>
  <script src="app/filters/customDate.filter.js"></script>


<script src="app/js/angular-animate.min.js"></script>
<script src="app/js/angular-aria.min.js"></script>
<script src="app/js/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="app/js/angular-material.min.js"></script>
</body>
</html>
